<div class="container">
  <% @posts.each do |post| %>
  <div class="post">
    <div id="<%= post.id %>">
      <h3><%= post.title %></h3>
      <span style="font-style:italic"><%= post.content %></span><br />
    </div>
    <div id="tags">
      <span><%= post.created_at %></span>
      <% post.tags.each do |tag| %>
        <%= tag.tag_name %>
      <% end %>
      <a id="delete" href= "/delete_post/" name="<%=post.id %>" >Delete</a>
      <a id="edit" href= "/edit_post" name="<%= post.id %>">Edit</a>
    </div>
  </div>
  <% end %>
</div>
